/*body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: darkgrey;
}*/

/* For using IBM Plex fonts --
    font-family: 'IBM Plex Serif', serif;
    font-family: 'IBM Plex Sans', sans-serif;
*/

/* Structural elements*/

* {
    /* outline: red 1px solid; */
}

body {
    font-family: 'IBM Plex Sans';
    /* Allready taken care of by bootstrap resetting after reading documentation::    
    -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica,Arial,sans-serif,Apple Color Emoji,Segoe UI Emoji */
    background-color: white;
    font-size: 15pt;
}



header {
    
}

main {
    background-color: white;
    /* padding-top: 20px; */
}

footer {
    padding: 20px 0px 10px;
}

/* Individual elements */

h1 {
    /* Decided to add padding to the parent element to achieve desired spacing */
    /*padding: 20px 0px;*/
    /*line-height: 1.15;*/
    padding-top: 0;
    padding-bottom: 2rem;
    line-height: 1;
    /* font-size: 2em; */
}

h2 {
    font-size: 1.5em;
    padding-bottom: 2rem;
    font-weight: 400;
}

h3 {
    color: #6c757d !important;
    font-weight: 600;
}

h4 {
    font-weight: 600;
}

p {
    font-size: 1em;
    color: #444444;
}

ul {
    list-style-type: square;
    padding-left: 1em;
}

li {
    padding-bottom: 0.7rem;
}

img {
    margin-bottom: 1em;
}

figcaption {
    margin-bottom: 2em;
    text-align: right;
}

/* classes & ids */

    .active {
        font-weight: 600; 
    }

    #contact-text {
        text-decoration: none;
    }

    .blog-anchor {
        font-size: 0.8em;
        line-height: 1em;
        padding-top: 0.5rem;
    }

    .blog-head {
        padding-bottom: 0;
        font-weight: 600;
    }

    .mug {
        padding: 0% 10%; 
    }

    .blog-anchor.sticky {
        position: sticky;
        top: 10px;
    }

    .sticky-top {
        position: sticky;
        top: 0px;
    }

    .mb-4 {
        margin-bottom: ($spacer * 1.5) !important;
    }

    .mb-n2 {
        margin-bottom: -0.5rem !important;
    }

    .mt-4 {
        margin-top: ($spacer * 1.5) !important;;
    }

    .mt-5 {
        margin-top: ($spacer * 3) !important;;
    }

