/*body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: darkgrey;
}*/

/* For using IBM Plex fonts --
    font-family: 'IBM Plex Serif', serif;
    font-family: 'IBM Plex Sans', sans-serif;
*/

body {
    font-family: 'IBM Plex Sans';
    /* Allready taken care of by bootstrap resetting after reading documentation::    
    -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica,Arial,sans-serif,Apple Color Emoji,Segoe UI Emoji */
    background-color: white;
    font-size: 15pt;
}

header {
    
}

main {
    background-color: white;
    padding-top: 20px;
}

footer {
    padding: 20px 0px 10px;
}

h1 {
    /* Decided to add padding to the parent element to achieve desired spacing */
    /*padding: 20px 0px;*/
    /*line-height: 1.15;*/
}

img {
    padding: 0px 10%; 
}

.active {
    font-weight: 600; 
}

#contact-text {
    text-decoration: none;
}